<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>736111115316-as11r6igru22e83d6m8gscbi7q2fa4fe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.736111115316-as11r6igru22e83d6m8gscbi7q2fa4fe</string>
	<key>API_KEY</key>
	<string>AIzaSyDdEHBc-AMXUXDGMRrtcCuL4caFoodrXCM</string>
	<key>GCM_SENDER_ID</key>
	<string>736111115316</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.doyeong.example</string>
	<key>PROJECT_ID</key>
	<string>realtimechat-e31a8</string>
	<key>STORAGE_BUCKET</key>
	<string>realtimechat-e31a8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:736111115316:ios:e518d60a58517732</string>
	<key>DATABASE_URL</key>
	<string>https://realtimechat-e31a8.firebaseio.com</string>
</dict>
</plist>